body {
  background-color: #050610;
  color: #fefefe;
}

.grid {

}

.logo {

}

.image {
  max-width: 300px;
}

.nav {

}

.nav p {
  padding: 0 20px;
}

.text {

}

.quoteImg {
  width: 100%;
  max-width: 500px;
}

.rawr {
  font-size: 40px;
}
