body {
  background-color: #050610;
  color: #fefefe;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 80px auto auto auto;
  grid-template-areas: 
    "logo nav"
    "quoteImg image"
    "text ."
    "rawr .";
}

.logo {
  grid-area: logo;
}

.image {
  grid-area: image;
  max-width: 300px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  grid-area: nav;
}

.nav p {
  padding: 0 20px;
}

.text {
  grid-area: text;
  align-self: center;
  text-align: center;
}

.quoteImg {
  width: 100%;
  max-width: 500px;
  align-self: center;
  justify-self: center;
  grid-area: quoteImg;
}

.rawr {
  grid-area: rawr;
  justify-self: end;
  font-size: 40px;
}
